# "Manpower EDA Version: 3.3"
> "50 New Insights and Analysis based on Manpower Data Version: 2.0"

- toc: true
- comments: false
- categories: [Kuwait, Man-power, Analysis]
- image: /images/MACHINE%20THINKING.png
- hide: false
- search_exclude: true
- metadata_key1: version-3.3

In [ ]:
#hide_input
!pip install pyreadstat
!pip install --upgrade plotly

In [ ]:
#hide_input

import operator
import pandas as pd
import numpy as np
from datetime import datetime, date
from pandas_profiling import ProfileReport

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
%matplotlib inline

In [ ]:
#hide_input

#Replacing df with data read from pickle file
#Start all other version from this cell, 

data = pd.read_pickle("DataManPowerV2.pkl")

data.columns

In [ ]:
#hide_input

print("Total Unique Nationalities : ",len(data['Nationality'].unique()))

In [ ]:
#hide_input

print("Total Unique Occupation : ",len(data['Occupation'].unique()))

In [ ]:
#hide_input

print("Total Unique Companies : ",len(data['Company'].unique()))

In [ ]:
#hide_input

data.dtypes

## Insight 1 - Top 20 Kuwaiti Workforce Nationalities

In [ ]:
#hide_input

a = dict(data['Nationality'].value_counts())
insight1 = pd.DataFrame()
a = dict(sorted(a.items(), key=operator.itemgetter(1), reverse=True)[:20])
insight1['Nationality'] = a.keys()
insight1['Total Count'] = a.values()
insight1['Percentage'] = ((insight1['Total Count'] / 1574040)*100).round(2)
insight1 = insight1.sort_values("Nationality")
insight1['Percentage'] = insight1['Percentage'].astype(str) + '%'
insight1.style.background_gradient(cmap='Reds')

In [ ]:
#hide_input

fig = px.treemap(insight1, path=['Nationality','Percentage'], values='Total Count',
                 title="Top 20 Kuwaiti Workforce Nationalities")
fig.show()

# Insight 2 : Workforce by Category

In [ ]:
#hide_input

insight2 = pd.DataFrame()
b = dict(data.groupby("Category")['Category'].count())
insight2['Category'] = b.keys()
insight2['Total Count'] = b.values()
insight2['Percentage'] = ((insight2['Total Count'] / 1574040)*100).round(2) 
insight2['Percentage'] = insight2['Percentage'].astype(str) + '%'
insight2.style.background_gradient(cmap='Reds')

In [ ]:
#hide_input

fig = px.bar(insight2, x="Category", y="Total Count", title ="Workforce by Category", color = "Category", text = "Percentage")
fig.update_traces(textposition='outside')
fig.show()

# Insight 3 : Top 20 Workforce Occupation

In [ ]:
#hide_input

insight3 = pd.DataFrame()
c = dict(data.groupby("Occupation")['Occupation'].count())
insight3['Occupation'] = c.keys()
insight3['Total Count'] = c.values()
insight3['Percentage'] = ((insight3['Total Count'] / 1574040)*100).round(2) 
insight3['Percentage'] = insight3['Percentage'].astype(str) + '%'
insight3 = insight3.nlargest(20,'Total Count')
insight3 = insight3.sort_values("Occupation")
insight3 = insight3.set_index("Occupation")
insight3.style.background_gradient(cmap='Reds')

In [ ]:
#hide_input

fig = px.bar(insight3, x=insight3.index, y="Total Count",title ="Top 20 Workforce Occupation",color = insight3.index,
             text = "Percentage")
fig.update_traces(textposition='outside')
fig.show()

# Insight 4 : Workforce Occupation by Category

KUWAITI VS NON-KUWAITI

In [ ]:
#hide_input

data['COUNTER'] = 1
insight4 = data.groupby(['Occupation','Category'])['COUNTER'].agg(['count'])
insight4['Percentage'] = ((insight4['count'] / 1574040)*100).round(2) 
insight4['Percentage'] = insight4['Percentage'].astype(str) + '%'
insight4 = insight4.sort_values('Occupation')
insight4.style.background_gradient(cmap='Reds')

In [ ]:
#hide_input

insight4 = insight4.reset_index("Category")
kuwait_df = insight4[insight4['Category'] == 'Kuwaiti']
kuwait_df = kuwait_df.nlargest(10,'count')
kuwait_df.style.background_gradient(cmap='Reds')

In [ ]:
#hide_input

fig = px.bar(kuwait_df,x=kuwait_df.index, y="count", hover_data = kuwait_df.columns,color=kuwait_df.index,text="Percentage",
             title = "Kuwaitis Top 10 Occupation")
fig.show()

In [ ]:
#hide_input

non_kuwait_df = insight4[insight4['Category'] == 'Non-Kuwaiti']
non_kuwait_df = non_kuwait_df.nlargest(10,'count')
non_kuwait_df.style.background_gradient(cmap='Reds')

In [ ]:
#hide_input

fig = px.bar(kuwait_df,x=non_kuwait_df.index, y="count", hover_data = non_kuwait_df.columns,color=non_kuwait_df.index,
             title = "Non-Kuwaitis Top 10 Occupation",text="Percentage")
fig.show()

## Insight 5 - Top 20 Occupations by Nationality

In [ ]:
#hide_input

data['COUNTER'] = 1 #initially, set that counter to 1.
insight5 = data.groupby(['Occupation','Nationality'])['COUNTER'].agg(['count'])
insight5['Percentage'] = ((insight5['count'] / 1574040)*100).round(2)
insight5['Percentage'] = insight5['Percentage'].astype(str) + '%'
insight5 = insight5.nlargest(20,'count')
insight5.style.background_gradient(cmap='Reds')

In [ ]:
#hide_input

insight5 = insight5.sort_values(by=['Percentage', 'Occupation', 'Nationality'])
insight5 = insight5.reset_index()

In [ ]:
#hide_input

fig = px.bar(insight5, text="Percentage",x="Occupation", y="count", color='Nationality',
             title = "Top 20 Occupations by Nationality")
fig.show()

# Insight 6 : Top 20 Age Group by Occupation

In [ ]:
#hide_input

data['COUNTER'] = 1
insight6 = data.groupby(['Occupation','Age Group'])['COUNTER'].agg(['count'])
insight6['Percentage'] = ((insight6['count'] / 1574040)*100).round(2) 
insight6['Percentage'] = insight6['Percentage'].astype(str) + '%'
insight6 = insight6.reset_index("Occupation")
insight6 = insight6.sort_values('Occupation')
insight6 = insight6.nlargest(20,'count')
insight6

In [ ]:
#hide_input

fig = px.bar(insight6, text="Percentage", x="Occupation", y="count", color=insight6.index, barmode='group',
             title = "Top 20 Age Group by Occupation")

fig.show()

# Insight 7 : Top 20 Occupation by Educational Level

In [ ]:
#hide_input

data['COUNTER'] = 1
insight7 = data.groupby(['Occupation','Educational Level'])['COUNTER'].agg(['count'])
insight7['Percentage'] = ((insight7['count'] / 1574040)*100).round(2) 
insight7['Percentage'] = insight7['Percentage'].astype(str) + '%'
insight7 = insight7.reset_index("Educational Level")
insight7 = insight7.nlargest(20,'count')
insight7

In [ ]:
#hide_input

fig = px.bar(insight7, x="Educational Level", y="count", color=insight7.index,barmode='group', text="Percentage",
             title = "Top 20 Occupation by Educational Level")
fig.show()

# Insight 8: Work Force by Age Group

In [ ]:
#hide_input

a = dict(data['Age Group'].value_counts())
insight8 = pd.DataFrame()
a = dict(sorted(a.items(), key=operator.itemgetter(1), reverse=True)[:20])
insight8['Age Group'] = a.keys()
insight8['Total Count'] = a.values()
insight8['Percentage'] = ((insight8['Total Count'] / 1574040)*100).round(2) 
insight8['Percentage'] = insight8['Percentage'].astype(str) + '%'
insight8 = insight8.sort_values("Age Group")
insight8.style.background_gradient(cmap='Reds')

In [ ]:
#hide_input

fig = px.histogram(insight8, x="Age Group", y= "Total Count",title ="Work Froce by Age group")
fig.show()

# Insight 9 : Top 20 Age Group by Nationality

In [ ]:
#hide_input

data['COUNTER'] = 1
insight9 = data.groupby(['Nationality','Age Group'])['COUNTER'].agg(['count'])
insight9['Percentage'] = ((insight9['count'] / 1574040)*100).round(2) 
insight9['Percentage'] = insight9['Percentage'].astype(str) + '%'
insight9 = insight9.reset_index(["Nationality"])
insight9 = insight9.nlargest(20,'count')
insight9

In [ ]:

#hide_input

fig = px.bar(insight9,x="Nationality", y="count", color=insight9.index,barmode='group', text="Percentage", 
             title = "Top 20 Age Group by Nationality")
fig.show()

# Insight 10 : Top 20 Age Group by Educational Level

In [ ]:
#hide_input

data['COUNTER'] = 1
insight10 = data.groupby(['Educational Level','Age Group'])['COUNTER'].agg(['count'])
insight10['Percentage'] = ((insight10['count'] / 1574040)*100).round(2) 
insight10['Percentage'] = insight10['Percentage'].astype(str) + '%'
insight10 = insight10.reset_index(["Educational Level"])
insight10 = insight10.nlargest(20,'count')
insight10

In [ ]:
#hide_input

fig = px.bar(insight10,x="Educational Level", y="count", color=insight10.index,barmode='group', text = "Percentage",
             title = "Top 20 Age Group by Educational Level")
fig.show()

# Insight 11 : Top 20 Age Group by Marital Status

In [ ]:
#hide_input

data['COUNTER'] = 1
insight11 = data.groupby(['Marital Status','Age Group'])['COUNTER'].agg(['count'])
insight11['Percentage'] = ((insight11['count'] / 1574040)*100).round(2) 
insight11['Percentage'] = insight11['Percentage'].astype(str) + '%'
insight11 = insight11.reset_index(["Marital Status"])
insight11 = insight11.nlargest(20,'count')
insight11

In [ ]:
#hide_input

fig = px.bar(insight11,x="Marital Status", y="count", color=insight11.index,barmode='group', text = "Percentage",
             title = "Top 20 Age Group by Marital Status")
fig.show()

# Insight 12 : Top 20 Age Group by Companies

In [ ]:
#hide_input

data['COUNTER'] = 1
insight12 = data.groupby(['Company','Age Group'])['COUNTER'].agg(['count'])
insight12['Percentage'] = ((insight12['count'] / 1574040)*100).round(2) 
insight12['Percentage'] = insight12['Percentage'].astype(str) + '%'
insight12 = insight12.reset_index(["Company"])
insight12 = insight12.nlargest(20,'count')
insight12

In [ ]:
#hide_input

fig = px.bar(insight12,x="Company", y="count", color=insight12.index,barmode='group',text="Percentage",
             title = "Top 20 Age Group by Company")
fig.show()

# Insight 13 : Top 20 Nationalities by Educational Level

In [ ]:
#hide_input

data['COUNTER'] = 1
insight13 = data.groupby(['Nationality','Educational Level'])['COUNTER'].agg(['count'])
insight13['Percentage'] = ((insight13['count'] / 1574040)*100).round(2) 
insight13['Percentage'] = insight13['Percentage'].astype(str) + '%'
insight13 = insight13.reset_index("Educational Level")
insight13 = insight13.nlargest(20,'count')
insight13

In [ ]:
#hide_input

fig = px.bar(insight13,x="Educational Level", y="count", color=insight13.index,barmode='group', text="Percentage",
             title = "Top 20 Nationalities by Educational Level")
fig.show()

# Insight 14 : Top 10 Nationalities by Companies

In [ ]:
#hide_input

data['COUNTER'] = 1
insight14 = data.groupby(['Nationality','Company'])['COUNTER'].agg(['count'])
insight14['Percentage'] = ((insight14['count'] / 1574040)*100).round(2) 
insight14['Percentage'] = insight14['Percentage'].astype(str) + '%'
insight14 = insight14.reset_index("Company")
insight14 = insight14.nlargest(10,'count')
insight14

In [ ]:
#hide_input

fig = px.bar(insight14,x=insight14.index, y="count", color="Company",barmode='group',text = "Percentage",
             title = "Top 10 Nationalities by Educational Level")
fig.show()

# Insight 15: Top 10 Workforce Companies

In [ ]:
#hide_input

a = dict(data['Company'].value_counts())
insight15 = pd.DataFrame()
a = dict(sorted(a.items(), key=operator.itemgetter(1), reverse=True)[:10])
insight15['Company'] = a.keys()
insight15['Total Count'] = a.values()
insight15['Percentage'] = ((insight15['Total Count'] / 1574040)*100).round(2) 
insight15['Percentage'] = insight15['Percentage'].astype(str) + '%'
insight15 = insight15.sort_values("Company")
insight15 = insight15.set_index("Company")
insight15.style.background_gradient(cmap='Reds')

In [ ]:
#hide_input

fig = px.bar(insight15, text="Percentage",x=insight15.index, y="Total Count",title = "Top 10 Workforce Companies")
fig.show()

## Insight 16 - Top 20 Age Group by Occupation and Nationality

In [ ]:
#hide_input

insight16 = data.groupby(['Occupation', 'Nationality', 'Age Group']).size().unstack(level=2, fill_value=0)

In [ ]:
#hide_input

insight16 = (insight16.stack().reset_index(name='Total Count').rename(columns={'level_2': 'Age Group'}))

In [ ]:
#hide_input

pd.crosstab([insight16['Occupation'], insight16['Total Count']],[insight16['Age Group']],margins=True)

In [ ]:
#hide_input

insight16['Percentage'] = ((insight16['Total Count'] / 1574040)*100).round(2)
insight16['Percentage'] = insight16['Percentage'].astype(str) + '%'

In [ ]:
#hide_input

insight16 = insight16.nlargest(20,'Total Count')

insight16.set_index("Age Group")

In [ ]:
#hide_input

fig = px.bar(insight16,x="Occupation", y="Total Count", color='Nationality',barmode='group',text="Percentage",
            hover_data = ['Age Group','Nationality','Occupation','Total Count','Percentage'], 
            title = "Top 20 Age Group by Occupation and Nationality")

fig.show()

## Insight  17 - Top 20 Age Groups by Educational Level & Nationalities

In [ ]:
#hide_input

insight17 = data.groupby(['Educational Level', 'Nationality', 'Age Group']).size().unstack(level=2, fill_value=0)

In [ ]:

#hide_input

insight17 = (insight17.stack().reset_index(name='Total Count').rename(columns={'level_2': 'Age Group'}))

In [ ]:
#hide_input

pd.crosstab([insight17['Educational Level'], insight17['Total Count']],[insight17['Age Group']],margins=True)

In [ ]:
#hide_input

pd.crosstab([insight17['Nationality'], insight17['Total Count']],[insight17['Age Group']],margins=True)

In [ ]:
#hide_input

insight17['Percentage'] = ((insight17['Total Count'] / 1574040)*100).round(2)
insight17['Percentage'] = insight17['Percentage'].astype(str) + '%'
insight17 = insight17.nlargest(20,'Total Count')
insight17.set_index("Age Group")

In [ ]:
#hide_input

fig = px.bar(insight17,x="Educational Level", y="Total Count", color='Nationality',barmode='group',text="Percentage",
hover_data = ['Age Group','Nationality','Educational Level','Total Count','Percentage'], 
             title = "Top 20 Age Group by Educational Level and Nationality")
fig.show()

## Insight 18 - Top 20 Age Gruops by Marital Status & Nationality

In [ ]:
#hide_input

insight18 = data.groupby(['Marital Status', 'Nationality', 'Age Group']).size().unstack(level=2, fill_value=0)

In [ ]:
#hide_input

insight18 = (insight18.stack().reset_index(name='Total Count'))

In [ ]:
#hide_input

pd.crosstab([insight18['Marital Status'], insight18['Total Count']],[insight18['Age Group']],margins=True)

In [ ]:
#hide_input

pd.crosstab([insight18['Nationality'], insight18['Total Count']],[insight18['Age Group']],margins=True)

In [ ]:
#hide_input

insight18['Percentage'] = ((insight18['Total Count'] / 1574040)*100).round(2)
insight18['Percentage'] = insight18['Percentage'].astype(str) + '%'
insight18 = insight18.nlargest(20,'Total Count')
insight18.set_index("Age Group")

In [ ]:
#hide_input

fig = px.bar(insight18,x="Marital Status", y="Total Count", color='Nationality',barmode='group', text="Percentage",
            hover_data = ['Age Group','Nationality','Marital Status','Total Count','Percentage'], 
            title = "Top 20 Age Group by Marital Status and Nationality")
fig.show()

### Insight 19 - Occupations by Nationality, Educational Level

#### Kuwaiti Vs Non-Kuwaiti

In [ ]:
#hide_input

insight19 = data.groupby(['Occupation', 'Nationality', 'Educational Level','Category']).size().unstack(level=3, fill_value=0)

In [ ]:
#hide_input

insight19 = (insight19.stack().reset_index(name='Total Count'))

In [ ]:
#hide_input

pd.crosstab([insight19['Occupation'], insight19['Total Count']],[insight19['Educational Level']],margins=True)

In [ ]:
#hide_input

pd.crosstab([insight19['Nationality'], insight19['Total Count']],[insight19['Educational Level']],margins=True)

In [ ]:
#hide_input

kuwait_df = insight19[insight19['Category'] == 'Kuwaiti'] 
pd.crosstab([kuwait_df['Occupation'], kuwait_df['Total Count']],[kuwait_df['Educational Level']],margins=True)

In [ ]:
#hide_input

non_kuwait_df = insight19[insight19['Category'] == 'Non-Kuwaiti'] 
pd.crosstab([non_kuwait_df['Occupation'], non_kuwait_df['Total Count']],[non_kuwait_df['Educational Level']],margins=True)

In [ ]:
#hide_input

kuwait_df['Percentage'] = ((kuwait_df['Total Count'] / 1574040)*100).round(2)
kuwait_df['Percentage'] = kuwait_df['Percentage'].astype(str) + '%'
kuwait_df = kuwait_df.nlargest(20,'Total Count')
kuwait_df.set_index("Nationality")

In [ ]:
#hide_input

fig = px.bar(kuwait_df,x="Educational Level", y="Total Count", hover_data = kuwait_df.columns,color="Occupation",
             barmode='group',text="Percentage",title = "Kuwaitis Top 20 Occupation by Educational Level")
fig.show()

In [ ]:
#hide_input

non_kuwait_df['Percentage'] = ((non_kuwait_df['Total Count'] / 1574040)*100).round(2)
non_kuwait_df['Percentage'] = non_kuwait_df['Percentage'].astype(str) + '%'
non_kuwait_df = non_kuwait_df.nlargest(20,'Total Count')
non_kuwait_df.set_index("Nationality")

In [ ]:
#hide_input

fig = px.bar(non_kuwait_df,x="Educational Level", y="Total Count", hover_data = kuwait_df.columns,color="Occupation",
            text = "Percentage",barmode='group',title = "Non-Kuwaitis Top 20 Occupation by Educational Level and Nationalities")
fig.show()

### Insight 20 - Occupations by all other Nationalities, Age Group

#### Compared to Kuwaiti having same Occupation

In [ ]:
#hide_input

insight20 = data.groupby(['Occupation', 'Category','Age Group']).size().unstack(level=2, fill_value=0)

In [ ]:
#hide_input

insight20  = (insight20.stack().reset_index(name='Total Count'))

In [ ]:
#hide_input

pd.crosstab([insight20['Occupation'], insight20['Total Count']],[insight20['Age Group']],margins=True)

In [ ]:
#hide_input

kuwait_df = insight20[insight20['Category'] == 'Kuwaiti'] 
#pd.crosstab([kuwait_df['Occupation'], kuwait_df['Total Count']],[kuwait_df['Age Group']],margins=True)

In [ ]:
#hide_input

non_kuwait_df = insight20[insight20['Category'] == 'Non-Kuwaiti'] 
#pd.crosstab([non_kuwait_df['Occupation'], non_kuwait_df['Total Count']],[non_kuwait_df['Age Group']],margins=True)

In [ ]:
#hide_input

kuwait_df['Percentage'] = ((kuwait_df['Total Count'] / 1574040)*100).round(2)
kuwait_df['Percentage'] = kuwait_df['Percentage'].astype(str) + '%'
kuwait = kuwait_df.nlargest(20,'Total Count')
kuwait.set_index("Age Group")

In [ ]:
#hide_input

fig = px.bar(kuwait,x="Occupation", y="Total Count", hover_data = kuwait.columns, text="Percentage",color ="Age Group",
             barmode='group',title = "Top 20 Kuwaiti's Age Group by Occupation")
fig.show()

In [ ]:
#hide_input

non_kuwait_df['Percentage'] = ((non_kuwait_df['Total Count'] / 1574040)*100).round(2)
non_kuwait_df['Percentage'] = non_kuwait_df['Percentage'].astype(str) + '%'
non_kuwait = non_kuwait_df.nlargest(20,'Total Count')
non_kuwait.set_index("Age Group")

In [ ]:
#hide_input

fig = px.bar(non_kuwait, x="Occupation", y="Total Count", hover_data = non_kuwait_df.columns,color ="Age Group", 
             text="Percentage", barmode='group',title = "Top 20 Non-Kuwaiti's Age Group by Occupation")
fig.show()

**Checking for Non-Kuwaitis Occupation that are same as Kuwaitis**

In [ ]:
#hide_input

rslt = non_kuwait_df[non_kuwait_df['Occupation'].isin(kuwait_df['Occupation'])]
rslt1 = rslt.nlargest(20,'Total Count')
rslt1.set_index('Age Group')

In [ ]:
#hide_input

fig = px.bar(rslt1, x="Occupation", y="Total Count",barmode='group',
             title ="Top 20 Age Groups by Occupations that are same as Kuwaitis",color = "Age Group",text = "Percentage")
fig.show()

In [ ]:
#hide_input

a = rslt['Occupation'].unique()
print("\n Number of Unique No-Kuwaitis Occupation that are same as Kuwaitis:  ",len(a))
print("\n\n\n 1000 Non - Kuwaitis Occupations that are same as Kuwaitis\n\n")
a[0:1000]

### INSIGHT 21 - OCCUPATIONS BY ALL OTHER NATIONALITIES, EDUCATION LEVEL

#### COMPARED TO KUWAITI NOT HAVING SAME OCCUPATION

In [ ]:
#hide_input

data['COUNTER'] = 1
insight21 = data.groupby(["Category","Occupation","Nationality","Educational Level"])['COUNTER'].agg(['count'])
insight21['Percentage'] = ((insight21['count'] / 1574040)*100).round(2) 
insight21['Percentage'] = insight21['Percentage'].astype(str) + '%'
insight21 = insight21.reset_index(["Category","Occupation","Nationality","Educational Level"])

In [ ]:
#hide_input

kuwait_df = insight21[insight21['Category'] == "Kuwaiti"]

In [ ]:
#hide_input

non_kuwait_df = insight21[insight21['Category'] == "Non-Kuwaiti"]

In [ ]:
#hide_input

rslt = non_kuwait_df[~ non_kuwait_df['Occupation'].isin(kuwait_df['Occupation'])]

In [ ]:
#hide_input

pd.crosstab([rslt['Occupation'], rslt['count']],[rslt['Educational Level']],margins=True)

In [ ]:
#hide_input

rslt = non_kuwait_df[~non_kuwait_df['Occupation'].isin(kuwait_df['Occupation'])]
rslt1= rslt.nlargest(20,'count')
rslt1.set_index("Nationality")

In [ ]:
#hide_input

fig = px.bar(rslt1,x="Nationality", y="count", hover_data = kuwait_df.columns,color="Occupation",text="Percentage",
            barmode='group',title = "Top 20 Occupation by Nationalities that are not same as Kuwaitis")
fig.show()

In [ ]:
#hide_input

a = rslt['Occupation'].unique()
print("\n Number of Unique No-Kuwaitis Occupation that are not same as Kuwaitis:  ",len(a))

print("\n\n\n 1000 Non - Kuwaitis Occupations that are not same as Kuwaitis\n\n")
a[0:1000]

### Insight 22 - Occupations by all other Nationalities,Marital Status

#### Kuwaiti Vs Non-Kuwaiti

In [ ]:
#hide_input

insight22 = data.groupby(['Occupation', 'Marital Status','Category']).size().unstack(level=2, fill_value=0)

In [ ]:
#hide_input

insight22 = (insight22.stack().reset_index(name='Total Count'))

In [ ]:
#hide_input

kuwait_df = insight22[insight22['Category'] == 'Kuwaiti']

In [ ]:
#hide_input

non_kuwait_df = insight22[insight22['Category'] == 'Non-Kuwaiti']

In [ ]:
#hide_input

kuwait_df['Percentage'] = ((kuwait_df['Total Count'] / 1574040)*100).round(2)
kuwait_df['Percentage'] = kuwait_df['Percentage'].astype(str) + '%'
kuwait_df = kuwait_df.nlargest(10,'Total Count')
kuwait_df.set_index("Occupation")

In [ ]:
#hide_input

fig = px.bar(kuwait_df,x="Marital Status", y="Total Count", hover_data = kuwait_df.columns,color="Occupation",barmode='group',
             title = "Kuwaitis Top 10 Occupation by Marital Status",text="Percentage")
fig.show()

In [ ]:
#hide_input

non_kuwait_df['Percentage'] = ((non_kuwait_df['Total Count'] / 1574040)*100).round(2)
non_kuwait_df['Percentage'] = non_kuwait_df['Percentage'].astype(str) + '%'
non_kuwait_df = non_kuwait_df.nlargest(10,'Total Count')
non_kuwait_df.set_index("Occupation")

In [ ]:
#hide_input

fig = px.bar(non_kuwait_df,x="Marital Status", y="Total Count", hover_data = non_kuwait_df.columns,color="Occupation",barmode='group',
             title = "Non-Kuwaitis Top 20 Occupations by Marital Status",text="Percentage")
fig.show()

### Insight 23 :  Total work force by Different Parameters

In [ ]:
#hide_input

e = dict(data['Educational Level'].value_counts())
insight14 = pd.DataFrame()
e = dict(sorted(e.items(), key=operator.itemgetter(1), reverse=True)[:15])
insight14['Educational Level'] = e.keys()
insight14['Educational Level'] = insight14['Educational Level'].replace(r'^\s*$', "--", regex=True)
insight14['Total Count'] = e.values()
insight14['Percentage'] = ((insight14['Total Count'] / 1574040)*100).round(2)
insight14['Percentage'] = insight14['Percentage'].astype(str) + '%'
fig5 = px.treemap(insight14, path=['Educational Level','Percentage'], values='Total Count',title = "Total Workfoce by Educational Level")
fig5.show()

f = dict(data['Governorate'].value_counts())
insight15 = pd.DataFrame()
f = dict(sorted(f.items(), key=operator.itemgetter(1), reverse=True)[:7])
insight15['Governorate'] = f.keys()
insight15['Total Count'] = f.values()
insight15['Ranking'] = insight15.index+1
insight15['Percentage'] = ((insight15['Total Count'] / 1574040)*100).round(2)
insight15['Percentage'] = insight15['Percentage'].astype(str) + '%'
fig = px.bar(insight15,x="Governorate",y="Total Count",color="Ranking",text="Percentage",title = "Total Workfoce by Governorate")
fig.show()

In [ ]:
#hide_input

h = dict(data['Company'].value_counts())
insight17 = pd.DataFrame()
h = dict(sorted(h.items(), key=operator.itemgetter(1), reverse=True)[:10])
insight17['Company'] = h.keys()
insight17['Total Count'] = h.values()
insight17['Ranking'] = insight17.index+1
insight17['Percentage'] = ((insight17['Total Count'] / 1574040)*100).round(2)
insight17['Percentage'] = insight17['Percentage'].astype(str) + '%'
fig8 = px.bar(insight17,x="Company",y="Total Count",color="Ranking",text="Percentage",title = "Total Workforce By Companies")
fig8.show()

top_5_HIRE_DATE = data['Hire Date'].value_counts().head(5)
fig9 = px.bar(top_5_HIRE_DATE, title = 'Total Workforce by Hiring Months',color=top_5_HIRE_DATE)
fig9.show()

In [ ]:
#hide_input

l = dict(data['Gender'].value_counts())
insight20 = pd.DataFrame()
l = dict(sorted(l.items(), key=operator.itemgetter(1), reverse=True)[:2])
insight20['Gender'] = l.keys()
insight20['Total Count'] = l.values()
insight20['Percentage'] = ((insight20['Total Count'] / 1574040)*100).round(2)
insight20['Percentage'] = insight20['Percentage'].astype(str) + '%'
fig21 = px.bar(insight20,x="Gender",y="Total Count",color="Gender",text="Percentage",title = "Total Workfoce by Gender")
fig21.show()


g = dict(data['Marital Status'].value_counts())
insight16 = pd.DataFrame()
g = dict(sorted(g.items(), key=operator.itemgetter(1), reverse=True)[:6])
insight16['Marital Status'] = g.keys()
#insight16['Marital Status'] = insight16['Marital Status'].replace(r'^\s*$', " -- ", regex=True)
insight16['Total Count'] = g.values()
insight16['Percentage'] = ((insight16['Total Count'] / 1574040)*100).round(2)
insight16['Percentage'] = insight16['Percentage'].astype(str) + '%'
fig7 = px.bar(insight16,x="Marital Status",y="Total Count",color="Marital Status",text="Percentage",title = "Total Workfoce by Marital Status")
fig7.show()

# Insight 24: Workforce by Salary

In [ ]:
#hide_input

bins = [0,201,301,401,501,1001,2001,3001,4001, 5001, 10000, 15000, 20000, 25000, 25001] 
labels = ['0-200','201-300','301-400','401-500','501-100','1001-2000','2001-3000','3001-4000','4001-5000','5001-10000','10001-15000', '15001-20000', '20001-25000', 'Above 25000']
data['Salary Range'] = pd.cut(data.Salary, bins, labels = labels)

In [ ]:
#hide_input

a = dict(data['Salary Range'].value_counts())
insight24 = pd.DataFrame()
a = dict(sorted(a.items(), key=operator.itemgetter(1), reverse=True)[:20])
insight24['Salary Range'] = a.keys()
insight24['Total Count'] = a.values()
insight24['Percentage'] = ((insight24['Total Count'] / 1574040)*100).round(2) 
insight24['Percentage'] = insight24['Percentage'].astype(str) + '%'
insight24.style.background_gradient(cmap='Reds')

In [ ]:
#hide_input

fig = px.histogram(insight24, x="Salary Range", y= "Total Count",title ="Work Force by Salary")
fig.show()

# Insight 25: Workforce Salary by Category

In [ ]:
#hide_input

data['COUNTER'] = 1
insight25 = data.groupby(['Salary Range','Category'])['COUNTER'].agg(['count'])
insight25['Percentage'] = ((insight25['count'] / 1574040)*100).round(2) 
insight25['Percentage'] = insight25['Percentage'].astype(str) + '%'
insight25.style.background_gradient(cmap='Reds')

In [ ]:
#hide_input

insight25 = insight25.reset_index("Category")
kuwait_df = insight25[insight25['Category'] == 'Kuwaiti']

kuwait_df.style.background_gradient(cmap='Reds')

In [ ]:
#hide_input

fig = px.bar(kuwait_df,x=kuwait_df.index, y="count", hover_data = kuwait_df.columns,color=kuwait_df.index,text="Percentage",
             title = "Kuwaitis Salary Range")
fig.show()

In [ ]:
#hide_input

non_kuwait_df = insight25[insight25['Category'] == 'Non-Kuwaiti']
non_kuwait_df.style.background_gradient(cmap='Reds')

In [ ]:
#hide_input

fig = px.bar(non_kuwait_df,x=non_kuwait_df.index, y="count", hover_data = non_kuwait_df.columns,color=non_kuwait_df.index,
             text="Percentage", title = "Non - Kuwaitis Salary Range")
fig.show()

### Insight 26 : What are the Occupations that are held by Non-Kuwaitis those will be reaching the age of 60 in next 5 Years which can be replaced by Kuwaitis

In [ ]:
#hide_input

data['COUNTER'] = 1
insight26 = data.groupby(["Category","Occupation","Educational Level","Age"])['COUNTER'].agg(['count'])
insight26['Percentage'] = ((insight26['count'] / 1574040)*100).round(2) 
insight26['Percentage'] = insight26['Percentage'].astype(str) + '%'
insight26 = insight26.reset_index(["Category","Occupation","Educational Level","Age"])

In [ ]:
#hide_input

kuwait_df = insight26[insight26['Category'] == 'Kuwaiti']

In [ ]:
#hide_input

non_kuwait_df = insight26[insight26['Category'] == 'Non-Kuwaiti']

In [ ]:
#hide_input

x = non_kuwait_df[(non_kuwait_df['Occupation'].isin(kuwait_df['Occupation']))] 
y = non_kuwait_df[(non_kuwait_df['Educational Level'].isin(kuwait_df['Educational Level']))]

In [ ]:
rslt_df = x.merge(y, how = 'inner' ,indicator=False)

In [ ]:
rslt_df['Percentage'] = ((rslt_df['count'] / 1574040)*100).round(2)

In [ ]:
rslt_df['Percentage'] = rslt_df['Percentage'].astype(str) + '%'

In [ ]:
#hide_input
five_years_to_be_sixty = rslt_df[rslt_df['Age'] == 55]
five_to_sixty = len(five_years_to_be_sixty)
pd.crosstab([five_years_to_be_sixty['Occupation'], five_years_to_be_sixty['count']],[five_years_to_be_sixty['Educational Level']],margins=True)

In [ ]:
#hide_input

four_years_to_be_sixty = rslt_df[rslt_df['Age'] == 56]
four_to_sixty = len(five_years_to_be_sixty)
pd.crosstab([four_years_to_be_sixty['Occupation'], four_years_to_be_sixty['count']],[four_years_to_be_sixty['Educational Level']],margins=True)

In [ ]:
#hide_input

three_years_to_be_sixty = rslt_df[rslt_df['Age'] == 57] 
three_to_sixty = len(three_years_to_be_sixty)
pd.crosstab([three_years_to_be_sixty['Occupation'], three_years_to_be_sixty['count']],[three_years_to_be_sixty['Educational Level']],margins=True)

In [ ]:
#hide_input

two_years_to_be_sixty = rslt_df[rslt_df['Age'] == 58]
two_to_sixty = len(two_years_to_be_sixty)
pd.crosstab([two_years_to_be_sixty['Occupation'], two_years_to_be_sixty['count']],[two_years_to_be_sixty['Educational Level']],margins=True)

In [ ]:
#hide_input

one_year_to_be_sixty = rslt_df[rslt_df['Age'] == 59]
one_to_sixty = len(one_year_to_be_sixty)
pd.crosstab([one_year_to_be_sixty['Occupation'], one_year_to_be_sixty['count']],[one_year_to_be_sixty['Educational Level']],margins=True)

In [ ]:
#hide_input

sixty_years = rslt_df[rslt_df['Age'] == 60]
exact_sixty_years = len(sixty_years)
pd.crosstab([sixty_years['Occupation'], sixty_years['count']],[sixty_years['Educational Level']],margins=True)

In [ ]:
#hide_input

#Performing calcualtions on the above dataframes
total_people = five_to_sixty + four_to_sixty + three_to_sixty + two_to_sixty + one_to_sixty + exact_sixty_years

f_to_sixty = (five_to_sixty / total_people)*100
fo_to_sixty = (four_to_sixty / total_people)*100
t_to_sixty = (three_to_sixty / total_people)*100
tw_to_sixty = (two_to_sixty / total_people)*100
o_to_sixty = (one_to_sixty / total_people)*100
sixty = (exact_sixty_years / total_people)*100

total = [five_to_sixty,four_to_sixty,three_to_sixty,two_to_sixty,one_to_sixty,exact_sixty_years]
percentage = [f_to_sixty,fo_to_sixty,t_to_sixty,tw_to_sixty,o_to_sixty,sixty]

resultant = pd.concat([five_years_to_be_sixty,four_years_to_be_sixty,three_years_to_be_sixty,two_years_to_be_sixty,one_year_to_be_sixty,sixty_years], axis=0)
resultant

In [ ]:
#hide_input

resultant1 = resultant.nlargest(20,'count')
pd.crosstab([resultant['Occupation'], resultant['count']],[resultant['Age']],margins=True)

In [ ]:
#hide_input

insight38 = pd.DataFrame()
insight38['Year'] = ['2021','2022','2023','2024','2025','2026']
insight38['Total Count'] = total
insight38['Percentage'] = percentage
insight38['Percentage'] = insight38['Percentage'].round(2)
insight38['Percentage'] = insight38['Percentage'].astype(str) + '%'
insight38

In [ ]:
#hide_input
fig = px.bar(insight38,x="Year", y="Total Count", hover_data = insight38.columns, color="Year",
            text = "Percentage",title = "Workforce distribution reaching age 60 in next 5 years")
fig.show()

In [ ]:
#hide_input 

a = resultant['Occupation'].unique()
print("\nOccupations held by Non-Kuwaitis those will be reaching the age of 60 in next 5 Years can be replaced by Kuwaitis:  ",len(a))
a[0:753]

### Insight 27: What/Who are the Employers Those who hire most of the Non-Kuwaitis and can be replaced by Kuwaitis

In [ ]:
#hide_input

insight26 = data.groupby(['Company','Category','Age Group']).size().unstack(level=2, fill_value=0)

In [ ]:
#hide_input

insight26 = (insight26.stack().reset_index(name='Total Count'))

In [ ]:
#hide_input

kuwait_df = insight26[insight26['Category'] == 'Kuwaiti']

In [ ]:
#hide_input

kuwait_df['Percentage'] = ((kuwait_df['Total Count'] / 1574040)*100).round(2)
kuwait_df['Percentage'] = kuwait_df['Percentage'].astype(str) + '%'
kuwait = kuwait_df.nlargest(20,'Total Count')
kuwait.set_index("Age Group")

In [ ]:
#hide_input

fig = px.bar(kuwait,x="Company", y="Total Count", hover_data = kuwait.columns, text="Percentage",color = "Total Count",
             barmode='group',title = "Top 20 Kuwaiti's Age Group by Company")
fig.show()

In [ ]:
#hide_input

non_kuwait_df = insight26[insight26['Category'] == 'Non-Kuwaiti']

In [ ]:
#hide_input

non_kuwait_df['Percentage'] = ((non_kuwait_df['Total Count'] / 1574040)*100).round(2)
non_kuwait_df['Percentage'] = non_kuwait_df['Percentage'].astype(str) + '%'
non_kuwait = non_kuwait_df.nlargest(20,'Total Count')
non_kuwait.set_index("Age Group")

In [ ]:
#hide_input

fig = px.bar(non_kuwait,x="Company", y="Total Count", hover_data = non_kuwait_df.columns,color="Total Count", text="Percentage",
             barmode='group',title = "Top 20 Non-Kuwaiti's Age Group by Company")
fig.show()

In [ ]:
#hide_input

rslt = non_kuwait_df[non_kuwait_df['Company'].isin(kuwait_df['Company'])]
rslt1 = rslt.nlargest(10,'Total Count')
rslt1.set_index('Age Group')

In [ ]:
#hide_input

fig = px.bar(rslt1, x="Company", y="Total Count",barmode='group',text="Percentage",color="Total Count",
             title ="Top 10 Companies who hire most of the Non-Kuwaitis and can be replaced by Kuwaitis")
fig.show()

In [ ]:
#hide_input

a = rslt['Company'].unique()
print("\n Number of Unique Companies that hire most of the Non-Kuwaitis :  ",len(a))

print("\n\n\n 1000 Companies that hire most of the Non-Kuwaitis \n\n")
a[0:1000]