In [ ]:
#hide
!pip install pyreadstat
!pip install --upgrade plotly

In [1]:
#hide

import operator
import pandas as pd
import numpy as np
from datetime import datetime, date
from pandas_profiling import ProfileReport

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
%matplotlib inline

In [ ]:
#hide

#Replacing df with data read from pickle file
#Start all other version from this cell, 

data = pd.read_pickle("DataManPowerV2.pkl")

data.columns

In [ ]:
#hide

data['Birth Date'].unique()

In [ ]:
#hide

data['Nationality'].unique()

In [ ]:
#hide

data['Gender'].unique()

In [ ]:
#hide

data['Religion'].unique()

In [ ]:
#hide

data['Occupation'].unique()

In [ ]:
#hide

data['Economic Act'].unique()

In [ ]:
#hide
data['Educational Level'].unique()

In [ ]:
#hide

data['Salary'].unique()

In [ ]:
#hide

data['Governorate'].unique()

In [ ]:
#hide

data['Marital Status'].unique()

In [ ]:
#hide

data['Company'].unique()

In [ ]:
#hide

data['Age'].unique()

In [ ]:
#hide

data['Category'].unique()

In [ ]:
#hide

data['Hire Date'].unique()

In [ ]:
#hide

data['Age Group'].unique()

# Insight 1 : Top 10 Nationalities Employeed

In [ ]:
#hide_input
a = dict(data['Nationality'].value_counts())
insight1 = pd.DataFrame()
a = dict(sorted(a.items(), key=operator.itemgetter(1), reverse=True)[:10])
insight1['Nationalities'] = a.keys()
insight1['Total Count'] = a.values()
insight1['Percentage'] = ((insight1['Total Count'] / 1574040)*100).round(2) 
insight1['Percentage'] = insight1['Percentage'].astype(str) + '%'

insight1 = insight1.sort_values('Nationalities') #sorting in alphabetical order
insight1

In [ ]:
#hide_input
fig = px.treemap(insight1, path=['Nationalities','Percentage'], values='Total Count',title="Top 10 Nationalities Employeed")
fig.show()

# Insight 2 : Top 10 Occupations by Nationalities, Age

In [ ]:
#hide_input

insight2 = pd.DataFrame()
insight2_1 = pd.DataFrame()
insight2 = data.groupby(["Occupation","Nationality"])['Age'].mean().astype(int)
insight2 = insight2.reset_index("Nationality")
insight2 = insight2.reset_index("Occupation")
insight2_1 = insight2.nlargest(10,'Age')
insight2_1 = insight2_1.sort_values(by=["Occupation", "Nationality"])[["Occupation", "Nationality","Age"]]
insight2_1

In [ ]:
fig = px.sunburst(insight2_1, path=['Occupation', 'Nationality','Age'], values='Age',title = 'Occupations by Nationalities, Age')
fig.show()

In [ ]:
a = dict(insight2['Occupation'].value_counts())
insight2 = pd.DataFrame()
a = dict(sorted(a.items(), key=operator.itemgetter(1), reverse=True)[:10])
insight2['Occupation'] = a.keys()
insight2['Total Count'] = a.values()
insight2['Percentage'] = ((insight2['Total Count'] / 122189)*100).round(2) 
insight2['Percentage'] = insight2['Percentage'].astype(str) + '%'
insight2 = insight2.sort_values("Occupation")
insight2

In [ ]:
fig = px.bar(insight2,x="Occupation",y="Total Count",color="Occupation",text="Percentage",title = "Top 10 Occupations")
fig.show()

# Insight  3 : Top 10 Educational Level By Nationalities, Age

In [ ]:
#hide_input

insight3 = pd.DataFrame()
insight3_1 = pd.DataFrame()
insight3 = data.groupby(["Educational Level","Nationality"])['Age'].mean().astype(int)
insight3 = insight3.reset_index("Nationality")
insight3 = insight3.reset_index("Educational Level")
insight3 = insight3.nlargest(10,'Age')
insight3_1 = insight3.sort_values(by=["Educational Level", "Nationality"])[["Educational Level", "Nationality","Age"]]
insight3_1

In [ ]:
#hide_input

fig = px.treemap(insight3_1, path=['Educational Level', 'Nationality', 'Age'], values='Age',title=" Occupations by Educational Level, Age")
fig.show()

In [ ]:
a = dict(insight3['Educational Level'].value_counts())
insight3 = pd.DataFrame()
a = dict(sorted(a.items(), key=operator.itemgetter(1), reverse=True)[:10])
insight3['Educational Level'] = a.keys()
insight3['Total Count'] = a.values()
insight3['Percentage'] = ((insight3['Total Count'] / 10)*100).round(2) 
insight3['Percentage'] = insight3['Percentage'].astype(str) + '%'
insight3 = insight3.sort_values("Educational Level")
insight3

In [ ]:
fig = px.bar(insight3,x="Educational Level",y="Total Count",color="Educational Level",text="Percentage",title = "Top Educational Level")
fig.show()

# Insight 4 : Top 10 Marital Status by Nationality ,Age

In [ ]:
#hide_input

insight4 = pd.DataFrame()
insight4 = data.groupby(["Nationality","Marital Status"])['Age'].mean().astype(int)
insight4 = insight4.reset_index("Marital Status")
insight4 = insight4.reset_index("Nationality")
insight4_1 = pd.DataFrame()
insight4_1 = insight4.nlargest(10,'Age')
insight4_1 = insight4_1.sort_values(by=["Marital Status", "Nationality"])[["Marital Status", "Nationality","Age"]]
insight4_1

In [ ]:
#hide_input

fig = px.sunburst(insight4_1, path=['Marital Status','Nationality','Age'], values='Age',title = 'Marital Status by Nationality, Age')
fig.show()

In [ ]:
a = dict(insight4['Marital Status'].value_counts())
insight4 = pd.DataFrame()
a = dict(sorted(a.items(), key=operator.itemgetter(1), reverse=True)[:10])
insight4['Marital Status'] = a.keys()
insight4['Total Count'] = a.values()
insight4['Percentage'] = ((insight4['Total Count'] / 423)*100).round(2) 
insight4['Percentage'] = insight4['Percentage'].astype(str) + '%'
insight4 = insight4.sort_values("Marital Status")
insight4

In [ ]:
fig = px.bar(insight4,x="Marital Status",y="Total Count",color="Marital Status",text="Percentage",title = "Top Marital Status")
fig.show()

### Insight 5 : Occupations by Nationality, Educational Level, Age

#### Kuwaiti Vs Non-Kuwaiti

In [ ]:
#hide_input

insight5 = pd.DataFrame()
insight5 = data.groupby(["Category","Educational Level","Nationality","Occupation"])['Age'].mean().astype(int)
insight5 = insight5.reset_index("Category")
insight5 = insight5.reset_index("Educational Level")
insight5 = insight5.reset_index("Nationality")
insight5 = insight5.reset_index("Occupation")
#required dataframe with params : Nationality, Occupation,Educational Level Age
insight5 = insight5.sort_values(by=["Occupation", "Nationality","Category"])[["Occupation", "Nationality","Category","Age"]]
insight5

In [ ]:
kuwait_df = insight5[insight5['Category'] == "Kuwaiti"]  #separating kuwaitis
#print(len(kuwait_df))
kuwait_df_plot = kuwait_df.nlargest(10,'Age')
kuwait_df_plot = kuwait_df_plot.sort_values(by=["Occupation", "Nationality","Category"])[["Occupation", "Nationality","Category","Age"]]
kuwait_df_plot 

#taking top 10 values with respect to age

In [ ]:
non_kuwait_df = insight5[insight5['Category'] == "Non-Kuwaiti"] #separating non-kuwitis
#print(len(non_kuwait_df))
non_kuwait_df_plot = non_kuwait_df.nlargest(10,'Age')
non_kuwait_df_plot = non_kuwait_df_plot.sort_values(by=["Occupation", "Nationality","Category"])[["Occupation", "Nationality","Category","Age"]]
non_kuwait_df_plot
#taking top 10 values with respect to age

In [ ]:
#hide_input

fig1 = px.treemap(kuwait_df_plot, path=['Occupation','Nationality'], values='Age',title="Occupations by Nationaities, Educational Level, Age by Kuwaiti")
fig1.show()
fig2 = px.treemap(non_kuwait_df_plot, path=['Occupation','Nationality'], values='Age',title="Occupations by Nationaities, Educational Level, Age by Non-Kuwaiti")
fig2.show()

In [ ]:
#hide_input
a = dict(kuwait_df['Occupation'].value_counts())
insight1 = pd.DataFrame()
a = dict(sorted(a.items(), key=operator.itemgetter(1), reverse=True)[:10])
insight1['Kuwaitis Occupation'] = a.keys()
insight1['Total Count'] = a.values()
insight1['Percentage'] = ((insight1['Total Count'] / 1224)*100).round(2) 
insight1['Percentage'] = insight1['Percentage'].astype(str) + '%'
insight1 = insight1.sort_values("Kuwaitis Occupation")
insight1

In [ ]:
#hide_input
b = dict(non_kuwait_df['Occupation'].value_counts())
insight2 = pd.DataFrame()
b = dict(sorted(b.items(), key=operator.itemgetter(1), reverse=True)[:10])
insight2['Non-Kuwaitis Occupation'] = a.keys()
insight2['Total Count'] = a.values()
insight2['Percentage'] = ((insight2['Total Count'] / 46796)*100).round(2) 
insight2['Percentage'] = insight2['Percentage'].astype(str) + '%' 
insight2 = insight2.sort_values("Non-Kuwaitis Occupation")
insight2

In [ ]:
fig1 = px.bar(insight1,x="Kuwaitis Occupation",y="Total Count",color="Kuwaitis Occupation",text="Percentage",title = "Top 10 Kuwaitis Occupations")
fig1.show()
fig2 = px.bar(insight2,x="Non-Kuwaitis Occupation",y="Total Count",color="Non-Kuwaitis Occupation",text="Percentage",title = "Top 10 Non-Kuwaitis Occupations")
fig2.show()

### Insight 6 : Occupations by all other nationalities, Educational Level , Age

#### Compared to Kuwaiti having same Occupation

In [ ]:
#hide_input

insight6 = pd.DataFrame()
insight6 = data.groupby(["Occupation","Nationality","Educational Level","Category"])['Age'].mean().astype(int)
insight6 = insight6.reset_index("Category")
insight6 = insight6.reset_index("Educational Level")
insight6 = insight6.reset_index("Nationality")
insight6 = insight6.reset_index("Occupation")
insight6 = insight6.sort_values(by=["Occupation", "Nationality","Category"])[["Occupation", "Nationality","Category","Age"]]
insight6 
#required dataframe with params: Education, Nationality, Occupation, Age

In [ ]:
kuwait_df = insight5[insight5['Category'] == "Kuwaiti"] #separating Kuwaiti
kuwait_df = kuwait_df.sort_values(by=["Occupation", "Nationality","Category"])[["Occupation", "Nationality","Category","Age"]]
kuwait_df

In [ ]:
non_kuwait_df = insight5[insight5['Category'] == "Non-Kuwaiti"] #separating non-kuwaiti
non_kuwait_df_plot = non_kuwait_df.sort_values(by=["Occupation", "Nationality","Category"])[["Occupation", "Nationality","Category","Age"]]
non_kuwait_df

In [ ]:
x = non_kuwait_df[non_kuwait_df['Occupation'].isin(kuwait_df['Occupation'])] 
# comparing occupations : if occupation in non-kuwaitis dataframe is also present in kuwaitis dataframe
x = x.sort_values(by=["Occupation", "Nationality","Category"])[["Occupation", "Nationality","Category","Age"]]
x

In [ ]:
x = x.groupby(["Occupation","Nationality"])['Age'].mean().round(2)#groupping occupations for simplification

x = x.reset_index("Nationality")
x = x.reset_index("Occupation")
y = x.head(10)
y = y.sort_values(by=["Occupation", "Nationality"])[["Occupation", "Nationality","Age"]]
y

In [ ]:
#hide_input

fig = px.treemap(y, path=['Nationality','Occupation'], values='Age',title="10 Occupations by all other Nationalities Compared to Kuwaiti having same Occupation")
fig.show()

In [ ]:
#hide_input
a = dict(x['Occupation'].value_counts())
insight1 = pd.DataFrame()
a = dict(sorted(a.items(), key=operator.itemgetter(1), reverse=True)[:10])
insight1['Occupation'] = a.keys()
insight1['Total Count'] = a.values()
insight1['Percentage'] = ((insight1['Total Count'] / 15287)*100).round(2) 
insight1['Percentage'] = insight1['Percentage'].astype(str) + '%'

insight1 = insight1.sort_values('Occupation') #sorting in alphabetical order
insight1

In [ ]:
fig1 = px.bar(insight1,x="Occupation",y="Total Count",color="Occupation",text="Percentage",title = "Top 10 Non-kuwaitis Occupation similar to Kuwaitis Occupations")
fig1.show()

### INSIGHT 7 : OCCUPATIONS BY ALL OTHER NATIONALITIES, EDUCATION LEVEL, AGE

#### COMPARED TO KUWAITI NOT HAVING SAME OCCUPATION

In [ ]:
#hide_input

insight7 = pd.DataFrame()
insight7 = data.groupby(["Category","Occupation","Nationality","Educational Level"])['Age'].mean().astype(int)
insight7 = insight7.reset_index("Category")
insight7 = insight7.reset_index("Educational Level")
insight7 = insight7.reset_index("Nationality")
insight7 = insight7.reset_index("Occupation")
insight7 = insight7.sort_values(by=["Occupation", "Nationality","Educational Level","Category"])[["Occupation", "Nationality","Educational Level","Category","Age"]]
insight7
#required dataframe with params: Education, NAtionality, Occupation, Age

In [ ]:
kuwait_df = insight7[insight7['Category'] == "Kuwaiti"]
kuwait_df = kuwait_df.sort_values(by=["Occupation", "Nationality","Educational Level","Category"])[["Occupation", "Nationality","Educational Level","Category","Age"]]
kuwait_df

In [ ]:
non_kuwait_df = insight7[insight7['Category'] == "Non-Kuwaiti"]
non_kuwait_df = non_kuwait_df.sort_values(by=["Occupation", "Nationality","Educational Level","Category"])[["Occupation", "Nationality","Educational Level","Category","Age"]]
non_kuwait_df

In [ ]:
rslt = non_kuwait_df[~ non_kuwait_df['Occupation'].isin(kuwait_df['Occupation'])]
rslt = rslt.sort_values(by=["Occupation", "Nationality","Educational Level","Category"])[["Occupation", "Nationality","Educational Level","Category","Age"]]
rslt
# finding occupations from non-kuwaitis dataframe tnat are not present in kuwaitis dataframe

In [ ]:
y = rslt.groupby(["Occupation","Nationality"])['Age'].mean().round(2)#groupping occupations for simplification
y = y.reset_index("Nationality")
y = y.reset_index("Occupation")
z = y.head(10)
z = z.sort_values(by=["Occupation", "Nationality"])[["Occupation", "Nationality","Age"]]
z

In [ ]:
#hide_input

fig = px.sunburst(z, path=['Occupation','Nationality'], values='Age',title = "Occupations by Nationalities  Compared to Kuwaiti not having same Occupation")
fig.show()

In [ ]:
#hide_input
a = dict(y['Occupation'].value_counts())
insight1 = pd.DataFrame()
a = dict(sorted(a.items(), key=operator.itemgetter(1), reverse=True)[:10])
insight1['Occupation'] = a.keys()
insight1['Total Count'] = a.values()
insight1['Percentage'] = ((insight1['Total Count'] / 15287)*100).round(2) 
insight1['Percentage'] = insight1['Percentage'].astype(str) + '%'

insight1 = insight1.sort_values('Occupation')
insight1#sorting in alphabetical order

In [ ]:
fig1 = px.bar(insight1,x="Occupation",y="Total Count",color="Occupation",text="Percentage",title = "Top 10 Non-kuwaitis Occupation not similar to Kuwaitis Occupations")
fig1.show()

### Insight 8 : Occupations by all other Nationalities, Education Level, Age

#### Reaching Age of 60 in Next 5 Years

In [ ]:
#hide_input

insight8 = pd.DataFrame()
insight8 = data.groupby(["Category","Occupation","Educational Level"])['Age'].mean().astype(int)
insight8 = insight8.reset_index("Category")
insight8 = insight8.reset_index("Educational Level")
insight8 = insight8.reset_index("Occupation")
insight8 = insight8.sort_values(by=["Occupation", "Educational Level","Category"])[["Occupation", "Educational Level","Category","Age"]]
insight8 
#Required df with params: Nationality,Occupation, Age, Education

In [ ]:
##separating Kuwaitis: listing their Occupation, Educational Level and Mean age
kuwait_df = insight8[insight8['Category'] == "Kuwaiti"] 
kuwait_df = kuwait_df.sort_values(by=["Occupation", "Educational Level","Category"])[["Occupation", "Educational Level","Category","Age"]]
kuwait_df

In [ ]:
#separating Non-Kuwaitis: listing their Occupation, Educational Level and Mean age
non_kuwait_df = insight8[insight8['Category'] == "Non-Kuwaiti"] #creating a separate df for kuwaitis
non_kuwait_df = non_kuwait_df.sort_values(by=["Occupation", "Educational Level","Category"])[["Occupation", "Educational Level","Category","Age"]]
non_kuwait_df

In [ ]:
x = non_kuwait_df[(non_kuwait_df['Occupation'].isin(kuwait_df['Occupation']))] 
x = x.sort_values(by=["Occupation", "Educational Level","Category"])[["Occupation", "Educational Level","Category","Age"]]
x
# finding non-kuwaits occupations that are same as kuwaitis occupation

In [ ]:
y = non_kuwait_df[(non_kuwait_df['Educational Level'].isin(kuwait_df['Educational Level']))] 
# finding Educational Level of Non-Kuwaitis that is same as Kuwaitis
y = y.sort_values(by=["Occupation", "Educational Level","Category"])[["Occupation", "Educational Level","Category","Age"]]
y

In [ ]:
#finding common rows between the two dfs:
#non-kuwaitis that have same occupation as kuwaitis and same educational level as kuwaitis could be replaced in the future

rslt_df = x.merge(y, how = 'inner' ,indicator=False)
rslt_df = rslt_df.groupby(["Occupation","Educational Level"])["Age"].mean().astype(int)
rslt_df = rslt_df.reset_index(["Occupation","Educational Level"])
rslt_df = rslt_df.sort_values(by=["Occupation", "Educational Level"])[["Occupation", "Educational Level","Age"]]
rslt_df

The resultant dataframe shows occupation, educational level and mean age of the non-kuwaitis that could be replaced by Kuwaitis

In [ ]:
#hide_input

five_years_to_be_sixty = rslt_df[rslt_df['Age'] == 55]
five_to_sixty = len(five_years_to_be_sixty)
five_years_to_be_sixty

In [ ]:
#hide
four_years_to_be_sixty = rslt_df[rslt_df['Age'] == 56]
four_to_sixty = len(five_years_to_be_sixty)
four_years_to_be_sixty

In [ ]:
#hide
three_years_to_be_sixty = rslt_df[rslt_df['Age'] == 57] 
three_to_sixty = len(three_years_to_be_sixty)
three_years_to_be_sixty

In [ ]:
#hide
two_years_to_be_sixty = rslt_df[rslt_df['Age'] == 58]
two_to_sixty = len(two_years_to_be_sixty)
two_years_to_be_sixty

In [ ]:
#hide
one_year_to_be_sixty = rslt_df[rslt_df['Age'] == 59]
one_to_sixty = len(one_year_to_be_sixty)
one_year_to_be_sixty

In [ ]:
#hide
sixty_years = rslt_df[rslt_df['Age'] == 60]
exact_sixty_years = len(sixty_years)
sixty_years

In [ ]:
#hide_input

#Performing calcualtions on the above dataframes
total_people = five_to_sixty + four_to_sixty + three_to_sixty + two_to_sixty + one_to_sixty + exact_sixty_years

f_to_sixty = (five_to_sixty / total_people)*100
fo_to_sixty = (four_to_sixty / total_people)*100
t_to_sixty = (three_to_sixty / total_people)*100
tw_to_sixty = (two_to_sixty / total_people)*100
o_to_sixty = (one_to_sixty / total_people)*100
sixty = (exact_sixty_years / total_people)*100

total = [five_to_sixty,four_to_sixty,three_to_sixty,two_to_sixty,one_to_sixty,exact_sixty_years]
percentage = [f_to_sixty,fo_to_sixty,t_to_sixty,tw_to_sixty,o_to_sixty,sixty]

In [ ]:
#hide_input
resultant = pd.concat([five_years_to_be_sixty,four_years_to_be_sixty,three_years_to_be_sixty,two_years_to_be_sixty,one_year_to_be_sixty,sixty_years], axis=0)
resultant

In [ ]:
#hide_input
resultant = resultant[0:10]
fig = px.treemap(resultant, path=['Occupation','Educational Level','Age'], values='Age',title="Occupation by Non-Kuwaitis Reaching the Age of 60 in Next 5 YEARS Replaced by Kuwaitis")
fig.show()

In [ ]:
total = [five_to_sixty,four_to_sixty,three_to_sixty,two_to_sixty,one_to_sixty,exact_sixty_years]
percentage = [f_to_sixty,fo_to_sixty,t_to_sixty,tw_to_sixty,o_to_sixty,sixty]

a = len(five_years_to_be_sixty['Occupation'].unique())
b = len(four_years_to_be_sixty['Occupation'].unique())
c = len(three_years_to_be_sixty['Occupation'].unique())
d = len(two_years_to_be_sixty['Occupation'].unique())
e = len(one_year_to_be_sixty['Occupation'].unique())
f = len(sixty_years['Occupation'].unique())

x = [a,b,c,d,e,f]

insight38 = pd.DataFrame()
insight38['Year'] = ['2021','2022','2023','2024','2025','2026']
insight38['Total Count'] = total
insight38['Percentage'] = percentage
insight38['Percentage'] = insight38['Percentage'].round(2)
insight38['Percentage'] = insight38['Percentage'].astype(str) + '%'
insight38['Unique Occuaptions'] = x
insight38

In [ ]:
#hide_input

fig = px.funnel(insight38,x="Year",y="Total Count",color="Percentage",text="Percentage",title = "Reaching age of 60 in Year")
fig.show()

### Insight 9 : Occupations by all other Nationalities, Salary,Marital Status,  Age

#### Kuwaiti Vs Non-Kuwaiti

In [ ]:
#hide_input

insight9 = pd.DataFrame()
insight9 = data.groupby(["Occupation","Nationality","Educational Level","Marital Status","Category"])['Age'].mean()
insight9 = insight9.reset_index("Category")
insight9 = insight9.reset_index("Marital Status")
insight9 = insight9.reset_index("Educational Level")
insight9 = insight9.reset_index("Nationality")
insight9 = insight9.reset_index("Occupation")
insight9 = insight9.sort_values(by=["Occupation", "Nationality","Educational Level","Marital Status","Category"])[["Occupation", "Nationality","Educational Level","Marital Status","Category","Age"]]
insight9
#Creating dataframe of params : Education, NAtionality, Occupation, MArital Status

In [ ]:
kuwait_df = insight9[insight9['Category'] == "Kuwaiti"] #separating Kuwaitis
kuwait_df = kuwait_df.nlargest(10,'Age')#top 10
kuwait_df = kuwait_df.sort_values(by=["Occupation", "Nationality","Educational Level","Marital Status","Category"])[["Occupation", "Nationality","Educational Level","Marital Status","Category","Age"]]
kuwait_df

In [ ]:
non_kuwait_df = insight9[insight9['Category'] == "Non-Kuwaiti"] #separating Non-Kuwaitis
non_kuwait_df = non_kuwait_df.nlargest(10,'Age')#top 10
non_kuwait_df = non_kuwait_df.sort_values(by=["Occupation", "Nationality","Educational Level","Marital Status","Category"])[["Occupation", "Nationality","Educational Level","Marital Status","Category","Age"]]
non_kuwait_df

In [ ]:
#hide_input

fig1 = px.sunburst(kuwait_df,title="Kuwaiti",path=['Occupation','Nationality','Marital Status'], values='Age',color='Age', 
    hover_data=['Category','Occupation','Educational Level','Marital Status','Age'],color_continuous_scale='RdBu')

fig1.show()

fig2 = px.sunburst(non_kuwait_df,title="Non-Kuwaiti",path=['Occupation','Nationality','Marital Status'], values='Age',color='Age', 
    hover_data=['Category','Occupation','Educational Level','Marital Status','Age'],color_continuous_scale='RdBu')

fig2.show()

# BUSINESS PROBLEMS

### a: Total work force by Different Parameters

In [ ]:
#hide_input

a = dict(data['Nationality'].value_counts())
insight10 = pd.DataFrame()
a = dict(sorted(a.items(), key=operator.itemgetter(1), reverse=True)[:10])
insight10['Nationality'] = a.keys()
insight10['Total Count'] = a.values()
insight10['Percentage'] = ((insight10['Total Count'] / 1574040)*100).round(2) 
insight10['Percentage'] = insight10['Percentage'].astype(str) + '%'
fig1 = px.treemap(insight10, path=['Nationality', 'Percentage'], values='Total Count',title="Total Workforce by Nationality")
fig1.show()

k = dict(data['Category'].value_counts())
insight20 = pd.DataFrame()
k = dict(sorted(k.items(), key=operator.itemgetter(1), reverse=True)[:10])
insight20['Category'] = k.keys()
insight20['Total Count'] = k.values()
insight20['Ranking'] = insight20.index+1
insight20['Percentage'] = ((insight20['Total Count'] / 1574040)*100).round(2)
insight20['Percentage'] = insight20['Percentage'].astype(str) + '%'
fig12 = px.bar(insight20,x="Category",y="Total Count",color="Ranking",text="Percentage",title = "TOTAL WORKFORCE BY CATEGORY")
fig12.show()

c = dict(data['Occupation'].value_counts())
insight12 = pd.DataFrame()
c = dict(sorted(c.items(), key=operator.itemgetter(1), reverse=True)[:10])
insight12['Occupation'] = c.keys()
insight12['Total Count'] = c.values()
insight12['Percentage'] = ((insight12['Total Count'] / 1574040)*100).round(2)
insight12['Percentage'] = insight12['Percentage'].astype(str) + '%'
fig3 = px.funnel(insight12, x='Occupation', y='Total Count',color="Occupation",text="Percentage", title = "Total Workforce by Occupation")
fig3.show()

In [ ]:
#hide_input


e = dict(data['Educational Level'].value_counts())
insight14 = pd.DataFrame()
e = dict(sorted(e.items(), key=operator.itemgetter(1), reverse=True)[:15])
insight14['Educational Level'] = e.keys()
insight14['Educational Level'] = insight14['Educational Level'].replace(r'^\s*$', "--", regex=True)
insight14['Total Count'] = e.values()
insight14['Percentage'] = ((insight14['Total Count'] / 1574040)*100).round(2)
insight14['Percentage'] = insight14['Percentage'].astype(str) + '%'
fig5 = px.treemap(insight14, path=['Educational Level','Percentage'], values='Total Count',title = "Total Workfoce by Educational Level")
fig5.show()

f = dict(data['Governorate'].value_counts())
insight15 = pd.DataFrame()
f = dict(sorted(f.items(), key=operator.itemgetter(1), reverse=True)[:7])
insight15['Governorate'] = f.keys()
insight15['Total Count'] = f.values()
insight15['Ranking'] = insight15.index+1
insight15['Percentage'] = ((insight15['Total Count'] / 1574040)*100).round(2)
insight15['Percentage'] = insight15['Percentage'].astype(str) + '%'
fig = px.bar(insight15,x="Governorate",y="Total Count",color="Ranking",text="Percentage",title = "Total Workfoce by Governorate")
fig.show()

In [ ]:
#hide_input
h = dict(data['Company'].value_counts())
insight17 = pd.DataFrame()
h = dict(sorted(h.items(), key=operator.itemgetter(1), reverse=True)[:10])
insight17['Company'] = h.keys()
insight17['Total Count'] = h.values()
insight17['Ranking'] = insight17.index+1
insight17['Percentage'] = ((insight17['Total Count'] / 1574040)*100).round(2)
insight17['Percentage'] = insight17['Percentage'].astype(str) + '%'
fig8 = px.bar(insight17,x="Company",y="Total Count",color="Ranking",text="Percentage",title = "Total Workforce By Companies")
fig8.show()

top_5_HIRE_DATE = data['Hire Date'].value_counts().head(5)
fig9 = px.bar(top_5_HIRE_DATE, title = 'Total Workforce by Hiring Months',color=top_5_HIRE_DATE)
fig9.show()

In [ ]:
#hide_input

i = dict(data['Age'].value_counts())
insight18 = pd.DataFrame()
i = dict(sorted(i.items(), key=operator.itemgetter(1), reverse=True)[:25])
insight18['Age'] = i.keys()
insight18['Total Count'] = i.values()
insight18['Percentage'] = ((insight18['Total Count'] / 1574040)*100).round(2)
insight18['Percentage'] = insight18['Percentage'].astype(str) + '%'
fig10 = px.bar(insight18,x="Age",y="Total Count",color="Age",text="Percentage",title = "Total Workforce By Age")
fig10.show()

i = dict(data['Age Group'].value_counts())
insight18 = pd.DataFrame()
i = dict(sorted(i.items(), key=operator.itemgetter(1), reverse=True)[:25])
insight18['Age'] = i.keys()
insight18['Total Count'] = i.values()
insight18['Percentage'] = ((insight18['Total Count'] / 1574040)*100).round(2)
insight18['Percentage'] = insight18['Percentage'].astype(str) + '%'
fig10 = px.bar(insight18,x="Age",y="Total Count",color="Age",text="Percentage",title = "Total Workforce By Age Group")
fig10.show()

In [ ]:
j = dict(data['Salary'].value_counts())
insight19 = pd.DataFrame()
j = dict(sorted(j.items(), key=operator.itemgetter(1), reverse=True)[:10])
insight19['Salary'] = j.keys()
insight19['Total Count'] = j.values()
insight19['Percentage'] = ((insight19['Total Count'] / 1574040)*100).round(2)
insight19['Percentage'] = insight19['Percentage'].astype(str) + '%'
fig11 = px.bar(insight19,x="Salary",y="Total Count",color="Salary",text="Percentage",title = "Total Workforce By Salary")
fig11.show()

In [ ]:
#hide_input

l = dict(data['Gender'].value_counts())
insight20 = pd.DataFrame()
l = dict(sorted(l.items(), key=operator.itemgetter(1), reverse=True)[:2])
insight20['Gender'] = l.keys()
insight20['Total Count'] = l.values()
insight20['Percentage'] = ((insight20['Total Count'] / 1574040)*100).round(2)
insight20['Percentage'] = insight20['Percentage'].astype(str) + '%'
fig21 = px.bar(insight20,x="Gender",y="Total Count",color="Gender",text="Percentage",title = "Total Workfoce by Gender")
fig21.show()


g = dict(data['Marital Status'].value_counts())
insight16 = pd.DataFrame()
g = dict(sorted(g.items(), key=operator.itemgetter(1), reverse=True)[:6])
insight16['Marital Status'] = g.keys()
#insight16['Marital Status'] = insight16['Marital Status'].replace(r'^\s*$', " -- ", regex=True)
insight16['Total Count'] = g.values()
insight16['Percentage'] = ((insight16['Total Count'] / 1574040)*100).round(2)
insight16['Percentage'] = insight16['Percentage'].astype(str) + '%'
fig7 = px.bar(insight16,x="Marital Status",y="Total Count",color="Marital Status",text="Percentage",title = "Total Workfoce by Marital Status")
fig7.show()

#### b: What are the Occupations That are held by  Non-Kuwaitis and can be replaced by Kuwaitis

In [ ]:
#hide_input
insight21 = pd.DataFrame()
insight21 = data.groupby(["Category","Occupation","Educational Level"])['Age'].mean().astype(int)
insight21 = insight21.reset_index("Category")
insight21 = insight21.reset_index("Educational Level")
insight21 = insight21.reset_index("Occupation")
insight21 = insight21.sort_values(by=["Occupation", "Educational Level","Category"])[["Occupation", "Educational Level","Category","Age"]]
insight21
#Required df with params: Nationality,Occupation, Age, Education

In [ ]:
#separating Kuwaitis: listing their Occupation, Educational Level and Mean age
kuwait_df = insight21[insight21['Category'] == "Kuwaiti"] 
kuwait_df = kuwait_df.sort_values(by=["Occupation", "Educational Level","Category"])[["Occupation", "Educational Level","Category","Age"]]
kuwait_df

In [ ]:
#separating Non - kuwaitis: listing their Occupation, Educational Level and Mean age
non_kuwait_df = insight21[insight21['Category'] == "Non-Kuwaiti"] 
non_kuwait_df = non_kuwait_df.sort_values(by=["Occupation", "Educational Level","Category"])[["Occupation", "Educational Level","Category","Age"]]
non_kuwait_df

In [ ]:
x = non_kuwait_df[(non_kuwait_df['Occupation'].isin(kuwait_df['Occupation']))] 
# finding non-kuwaits occupations that are same as kuwaitis occupation
x = x.sort_values(by=["Occupation", "Educational Level","Category"])[["Occupation", "Educational Level","Category","Age"]]
x

In [ ]:
y = non_kuwait_df[(non_kuwait_df['Educational Level'].isin(kuwait_df['Educational Level']))] 
# finding Educational Level of Non-Kuwaitis that is same as Kuwaitis in order to match level for replacement
y = y.sort_values(by=["Occupation", "Educational Level","Category"])[["Occupation", "Educational Level","Category","Age"]]
y

In [ ]:
#finding common rows between the two dfs:
#non-kuwaitis that have same occupation as kuwaitis and same educational level as kuwaitis could be replaced in the future

rslt_df = x.merge(y, how = 'inner' ,indicator=False)
rslt_df = rslt_df.groupby(["Occupation","Educational Level"])["Age"].mean().astype(int)
rslt_df = rslt_df.reset_index(["Occupation","Educational Level"])
rslt_df = rslt_df.sort_values(by=["Occupation", "Educational Level"])[["Occupation", "Educational Level","Age"]]
rslt_df

**The resultant dataframe shows occupation, educational level and mean age of the non-kuwaitis that could be replaced by Kuwaitis**

In [ ]:
#hide_input
#finding top 10 occupations
print("Number of Unique Occupations : ",len(rslt_df['Occupation'].unique()))
m = dict(rslt_df['Occupation'].value_counts())
insight21 = pd.DataFrame()
m = dict(sorted(m.items(), key=operator.itemgetter(1), reverse=True)[:10])
insight21['Occupations'] = m.keys()
insight21['Total Count'] = m.values()
insight21['Percentage'] = ((insight21['Total Count'] / 3443)*100).round(2) 
insight21['Percentage'] = insight21['Percentage'].astype(str) + '%'
insight21.sort_values('Occupations')

In [ ]:
#hide_input

fig = px.pie(insight21, values='Total Count', names='Occupations',hole=0.4,title = "Occupations that are held by Non-Kuwaitis and can be replaced by Kuwaitis")
fig.update_traces(textposition='inside', textinfo='value+percent')
fig.show()

### c: What are the Occupations that are held by Non-Kuwaitis those will be reaching the age of 60 in next 5 Years which can be replaced by Kuwaitis

In [ ]:
#hide_input

insight23 = pd.DataFrame()
insight23 = data.groupby(["Category","Occupation","Educational Level"])['Age'].mean().astype(int)
insight23 = insight23.reset_index("Category")
insight23 = insight23.reset_index("Educational Level")
insight23 = insight23.reset_index("Occupation")
insight23 = insight23.sort_values(by=["Occupation", "Educational Level","Category"])[["Occupation", "Educational Level","Category","Age"]]
insight23 
#Required df with params: Nationality,Occupation, Age, Education

In [ ]:
#separating Kuwaitis: listing their Occupation, Educational Level and Mean age
kuwait_df = insight23[insight23['Category'] == "Kuwaiti"] 
kuwait_df = kuwait_df.sort_values(by=["Occupation", "Educational Level","Category"])[["Occupation", "Educational Level","Category","Age"]]
kuwait_df

In [ ]:
#separating Non-Kuwaitis: listing their Occupation, Educational Level and Mean age
non_kuwait_df = insight23[insight23['Category'] == "Non-Kuwaiti"] #creating a separate df for kuwaitis
non_kuwait_df = non_kuwait_df.sort_values(by=["Occupation", "Educational Level","Category"])[["Occupation", "Educational Level","Category","Age"]]
non_kuwait_df

In [ ]:
x = non_kuwait_df[(non_kuwait_df['Occupation'].isin(kuwait_df['Occupation']))] 
x = x.sort_values(by=["Occupation", "Educational Level","Category"])[["Occupation", "Educational Level","Category","Age"]]
x
# finding non-kuwaits occupations that are same as kuwaitis occupation

In [ ]:
y = non_kuwait_df[(non_kuwait_df['Educational Level'].isin(kuwait_df['Educational Level']))] 
# finding Educational Level of Non-Kuwaitis that is same as Kuwaitis
y = y.sort_values(by=["Occupation", "Educational Level","Category"])[["Occupation", "Educational Level","Category","Age"]]
y

In [ ]:
#finding common rows between the two dfs:
#non-kuwaitis that have same occupation as kuwaitis and same educational level as kuwaitis could be replaced in the future

rslt_df = x.merge(y, how = 'inner' ,indicator=False)
rslt_df = rslt_df.groupby(["Occupation","Educational Level"])["Age"].mean().astype(int)
rslt_df = rslt_df.reset_index(["Occupation","Educational Level"])
rslt_df = rslt_df.sort_values(by=["Occupation", "Educational Level"])[["Occupation", "Educational Level","Age"]]
rslt_df

**The resultant dataframe shows occupation, educational level and mean age of the non-kuwaitis that could be replaced by Kuwaitis**

In [ ]:
#hide

five_years_to_be_sixty = rslt_df[rslt_df['Age'] == 55]
five_to_sixty = len(five_years_to_be_sixty)
five_years_to_be_sixty

In [ ]:
#hide
four_years_to_be_sixty = rslt_df[rslt_df['Age'] == 56]
four_to_sixty = len(five_years_to_be_sixty)
four_years_to_be_sixty

In [ ]:
#hide
three_years_to_be_sixty = rslt_df[rslt_df['Age'] == 57] 
three_to_sixty = len(three_years_to_be_sixty)
three_years_to_be_sixty

In [ ]:
#hide
two_years_to_be_sixty = rslt_df[rslt_df['Age'] == 58]
two_to_sixty = len(two_years_to_be_sixty)
two_years_to_be_sixty

In [ ]:
#hide
one_year_to_be_sixty = rslt_df[rslt_df['Age'] == 59]
one_to_sixty = len(one_year_to_be_sixty)
one_year_to_be_sixty

In [ ]:
#hide
sixty_years = rslt_df[rslt_df['Age'] == 60]
exact_sixty_years = len(sixty_years)
sixty_years

In [ ]:
#hide

#Performing calcualtions on the above dataframes
total_people = five_to_sixty + four_to_sixty + three_to_sixty + two_to_sixty + one_to_sixty + exact_sixty_years

f_to_sixty = (five_to_sixty / total_people)*100
fo_to_sixty = (four_to_sixty / total_people)*100
t_to_sixty = (three_to_sixty / total_people)*100
tw_to_sixty = (two_to_sixty / total_people)*100
o_to_sixty = (one_to_sixty / total_people)*100
sixty = (exact_sixty_years / total_people)*100

total = [five_to_sixty,four_to_sixty,three_to_sixty,two_to_sixty,one_to_sixty,exact_sixty_years]
percentage = [f_to_sixty,fo_to_sixty,t_to_sixty,tw_to_sixty,o_to_sixty,sixty]

In [ ]:
#hide_input
resultant = pd.concat([five_years_to_be_sixty,four_years_to_be_sixty,three_years_to_be_sixty,two_years_to_be_sixty,one_year_to_be_sixty,sixty_years], axis=0)
resultant

In [ ]:
#hide_input
resultant = resultant[0:10]
fig = px.treemap(resultant, path=['Occupation','Educational Level','Age'], values='Age',title="Occupation by Non-Kuwaitis Reaching the Age of 60 in Next 5 YEARS Replaced by Kuwaitis")
fig.show()

In [ ]:
total = [five_to_sixty,four_to_sixty,three_to_sixty,two_to_sixty,one_to_sixty,exact_sixty_years]
percentage = [f_to_sixty,fo_to_sixty,t_to_sixty,tw_to_sixty,o_to_sixty,sixty]

a = len(five_years_to_be_sixty['Occupation'].unique())
b = len(four_years_to_be_sixty['Occupation'].unique())
c = len(three_years_to_be_sixty['Occupation'].unique())
d = len(two_years_to_be_sixty['Occupation'].unique())
e = len(one_year_to_be_sixty['Occupation'].unique())
f = len(sixty_years['Occupation'].unique())

x = [a,b,c,d,e,f]

insight38 = pd.DataFrame()
insight38['Year'] = ['2021','2022','2023','2024','2025','2026']
insight38['Total Count'] = total
insight38['Percentage'] = percentage
insight38['Percentage'] = insight38['Percentage'].round(2)
insight38['Percentage'] = insight38['Percentage'].astype(str) + '%'
insight38['Unique Occuaptions'] = x
insight38

In [ ]:
#hide_input

fig = px.funnel(insight38,x="Year",y="Total Count",color="Percentage",text="Percentage",title = "Reaching age of 60 in Year")
fig.show()

In [ ]:
y = [five_to_sixty,five_to_sixty-four_to_sixty,four_to_sixty-three_to_sixty,three_to_sixty-two_to_sixty,two_to_sixty-one_to_sixty,one_to_sixty-exact_sixty_years]
fig = go.Figure(go.Waterfall(
    name = "20", orientation = "v",
    measure = ["relative", "relative", "relative", "relative", "relative", "relative"],
    x = insight38['Year'],
    textposition = "outside",
    text = y,
    y = y,
    connector = {"line":{"color":"rgb(63, 63, 63)"}},
))

fig.update_layout(
        title = "Difference Chart For 5 Years",
        showlegend = True
)

fig.show()

### d: What/Who are the Employers Those who hire most of the Non-Kuwaitis and can be replaced by Kuwaitis

In [ ]:
#hide_input

insight22 = pd.DataFrame()
insight22 = data.groupby(["Occupation","Company","Educational Level","Category"])['Age'].mean().round(2)
insight22 = insight22.reset_index("Category")
insight22 = insight22.reset_index("Educational Level")
insight22 = insight22.reset_index("Occupation")
insight22 = insight22.reset_index("Company")
insight22 = insight22.sort_values(by=["Company","Occupation", "Educational Level","Category"])[["Company","Occupation", "Educational Level","Category","Age"]]
insight22 
####### Required df with params: Company,Nationality,Occupation, Age, Education

In [ ]:
kuwait_df = insight22[insight22['Category'] == "Kuwaiti"] #creating a separate df for kuwaitis 
kuwait_df

In [ ]:
non_kuwait_df = insight22[insight22['Category'] == "Non-Kuwaiti"] #creating a separate df for non -kuwaitis
non_kuwait_df

In [ ]:
x = non_kuwait_df[(non_kuwait_df['Occupation'].isin(kuwait_df['Occupation']))] 
# finding non-kuwaits occupations that are same as kuwaitis occupation 
x

In [ ]:
y = non_kuwait_df[(non_kuwait_df['Educational Level'].isin(kuwait_df['Educational Level']))] # finding Educational Level of Non-Kuwaitis that is same as Kuwaitis
y

In [ ]:
z = non_kuwait_df[(non_kuwait_df['Company'].isin(kuwait_df['Company']))]# finding Company of Non-Kuwaitis that is same as Kuwaitis

z

In [ ]:

rslt_df = x.merge(z, how = 'inner' ,indicator=False) #first finding common rows on the basis of similar occupation + company
rslt_df1 = x.merge(y, how = 'inner' ,indicator=False)#first finding common rows on the basis of similar occupation + educational level
rslt_df1 = rslt_df1.merge(rslt_df, how = 'inner' ,indicator=False)
rslt_df1

**The resultant dataframe shows the company,occupation,nationality, educational level and mean age of the non-kuwaits**

In [ ]:
#hide_input
#finding top 10 companies 
print("Number of UNIQUE Companies : ",len(rslt_df1['Company'].unique()))
n = dict(rslt_df1['Company'].value_counts())
insight22 = pd.DataFrame()
n = dict(sorted(n.items(), key=operator.itemgetter(1), reverse=True)[:10])
insight22['Company'] = n.keys()
insight22['Total Count'] = n.values()
insight22['Percentage'] = ((insight22['Total Count'] / 22999)*100).round(2) 
insight22['Percentage'] = insight22['Percentage'].astype(str) + '%'
insight22

In [ ]:
#hide_input
fig = px.pie(insight22, values='Total Count', names='Company',hole=0.4,title = "Employers who hire most of the Non-Kuwaitis and can be replaced by Kuwaitis")
fig.update_traces(textposition='inside', textinfo='value+percent')
fig.show()

# Age Group Distribution

In [ ]:
#hide_input
a = dict(data['Age Group'].value_counts())
insight1 = pd.DataFrame()
a = dict(sorted(a.items(), key=operator.itemgetter(1), reverse=True)[:10])
insight1['Age Group'] = a.keys()
insight1['Total Count'] = a.values()
insight1['Percentage'] = ((insight1['Total Count'] / 1574040)*100).round(2) 
insight1['Percentage'] = insight1['Percentage'].astype(str) + '%'
insight1['Ranking'] = insight1.index+1
insight1 = insight1.sort_values('Age Group') #sorting in alphabetical order
insight1

In [ ]:
#hide_input
fig = px.bar(insight1,x="Age Group",y="Total Count",color="Ranking",text="Percentage",title = "Age Groups Distribution")
fig.show()

# Age Groups by Gender

In [ ]:
insight = pd.DataFrame()
insight['Age Group'] = data['Age Group']
insight['Gender'] = data['Gender']

In [ ]:
female_df = insight[insight['Gender'] == "انثى"] 
female_df = female_df.groupby(['Age Group']).Gender.agg('count').to_frame('Total Count').reset_index()
female_df['Percentage'] = ((female_df['Total Count']/167880)*100).round(2)
female_df['Percentage'] = female_df['Percentage'].astype(str) + '%'
female_df

In [ ]:
fig = px.bar(female_df,x="Age Group",y="Total Count",color="Age Group",text="Percentage",title = "Female Distribution by age Groups")
fig.show()

In [ ]:
fig = go.Figure(go.Waterfall(
    measure = ["relative", "relative", "relative", "relative", "relative", "relative","relative", "relative", 
                              "relative", "relative", "relative", "relative", "relative", "relative"],
    y = female_df['Total Count'],
    x = female_df['Age Group'],
    connector = {"mode":"between", "line":{"width":4, "color":"rgb(0, 0, 0)", "dash":"solid"}}
))

fig.update_layout(title = "Age Groups")

fig.show()

In [ ]:
male_df = insight[insight['Gender'] == "ذكر"] 
male_df = male_df.groupby(['Age Group']).Gender.agg('count').to_frame('Total Count').reset_index()
male_df['Percentage'] = ((male_df['Total Count']/1406082)*100).round(2)
male_df['Percentage'] = male_df['Percentage'].astype(str) + '%'
male_df

In [ ]:
fig = px.bar(male_df,x="Age Group",y="Total Count",color="Age Group",text="Percentage",title = "Male Distribution by age Groups")
fig.show()

In [ ]:
fig = go.Figure(go.Waterfall(
    measure = ["relative", "relative", "relative", "relative", "relative", "relative","relative", "relative", 
                              "relative", "relative", "relative", "relative", "relative", "relative"],
    y = male_df['Total Count'],
    x = male_df['Age Group'],
    connector = {"mode":"between", "line":{"width":4, "color":"rgb(0, 0, 0)", "dash":"solid"}}
))

fig.update_layout(title = "Age Groups")

fig.show()