# Installation

In [ ]:
!pip install pyrebase

# Importing libraries

In [1]:
import pyrebase
import urllib
import pandas as pd

# Setting Up Firebase Config

In [2]:
firebaseConfig = 

{
    "apiKey": "AIzaSyArpTnrBTH3N8prfbjiun8uPqKKlTk3H7A",
    "authDomain": "python-proj-a6aed.firebaseapp.com",
    "databaseURL": "https://python-proj-a6aed-default-rtdb.firebaseio.com",
    "projectId": "python-proj-a6aed",
    "storageBucket": "python-proj-a6aed.appspot.com",
    "messagingSenderId": "490263258042",
    "appId": "1:490263258042:web:f4a610943e523741e7f383",
    "measurementId": "G-LWYLWRWLTF"    
}

# Initializing Firebase App

In [3]:
firebase = pyrebase.initialize_app(firebaseConfig)

# Firebase Authentication

### Login

In [ ]:
def firebase_login():
    auth = firebase.auth()
    email = input("Enter Email : ")
    password = input("Enter Password : ")
    try:
        auth.sign_in_with_email_and_password(email,password)
        print("Successfully Signed in")
    except:
        print("Invalid user or password")

        
firebase_login()

### Sign Up

In [ ]:
def firebase_sign_up():
    auth = firebase.auth()
    email = input("Enter Email : ")
    password = input("Enter Password : ")
    confirm_password = input("Confirm Password : ")
    if password == confirm_password:
        try:
            auth.create_user_with_email_and_password(email,password)
            print("Success")
        except:
            print("Email already exists")
            
            
            
firebase_sign_up()

In [ ]:
firebase_sign_up()

# Storage

### Uploding File

In [ ]:
def upload_file():
    storage = firebase.storage()
    filename = input("Enter name of the file you want to upload : ") #name of the file on local machine
    cloud_filename = input("Enter name of the file on the cloud : ") #name what you want on cloud
    storage.child(cloud_filename).put(filename)
    print("Upload Successful")
    print(storage.child(cloud_filename).get_url(None))
    
    
upload_file()

In [ ]:
upload_file()

### Downloading File

In [ ]:
def download_file():
    storage = firebase.storage()
    cloud_filename = input("Enter name of the file you want to download from the cloud : ") #name what you want to download from cloud
    storage.child(cloud_filename).download("","downloaded.txt")
    print("Download Successful")
    

download_file()

### Reading File

In [ ]:
def reading_file():
    storage = firebase.storage()
    cloud_filename = input("Enter name of the file you want to read from the cloud : ") #name what you want to read from cloud
    url = storage.child(cloud_filename).get_url(None)
    file_content = urllib.request.urlopen(url).read()
    print(file_content)
    
reading_file()

# CRUD Operations

### Create Operation

In [4]:
db = firebase.database()

In [5]:
data = {"age":32,"address":"Karachi","employeed":True,"name":"Ahsan"}

In [6]:
db.push(data) #push func creates a new child node of root node with new unique id for a bunch of key-value pairs

{'name': '-MrmL8POHD1BcJAdX7l7'}

In [7]:
db.child("company").push(data) #creates a company child node

{'name': '-MrmLA383JLIwmTBd8CP'}

In [8]:
data1 = {"age":35,"address":"Lahore","employed":True,"name":"Umar"}
data2 = {"age":35,"address":"Islamabad","employed":False,"name":"Abdullah"}
data3 = {"age":20,"address":"Karachi","employed":True,"name":"Usman"}
data4 = {"age":21,"address":"Karachi","employed":False,"name":"Faisal"}
data5 = {"age":21,"address":"Karachi","employed":True,"name":"Aqib"}
data6 = {"age":23,"address":"Karachi","employed":False,"name":"Hanifa"}
data7 = {"age":23,"address":"Pakistan","employed":True,"name":"Hanifa"}
data8 = {"age":20,"address":"Karachi","employed":True,"name":"Usman"}

In [9]:
db.child("company").child("employee_1").set(data1)
db.child("company").child("employee_2").set(data2)
db.child("company").child("employee_3").set(data3)
db.child("company").child("employee_4").set(data4)
db.child("company").child("employee_5").set(data5)
db.child("company").child("employee_6").set(data6)
db.child("company").child("employee_7").set(data7)
db.child("company").child("employee_8").set(data8)

{'address': 'Karachi', 'age': 20, 'employed': True, 'name': 'Usman'}

- Push creates own random unique id
- Set allows to create own id instead of randomly generated

### Update

**Known ID**

In [10]:
db.child("company").child("employee_7").update({"name":"Hani"})

{'name': 'Hani'}

In [11]:
db.child("company").child("employee_6").update({"names":"Hania"})

{'names': 'Hania'}

- Update function checks whether the key exists.
- If exits, it updates that field.
- Else it creates a new key

**Unknown ID**

In [12]:
people = db.child("company").get()
for person in people.each():
    print(person.val())
    print(person.key())
    print("_____________________________________________________________________________________________________")

{'address': 'Karachi', 'age': 32, 'employeed': True, 'name': 'Ahsan'}
-MrmLA383JLIwmTBd8CP
_____________________________________________________________________________________________________
{'address': 'Lahore', 'age': 35, 'employed': True, 'name': 'Umar'}
employee_1
_____________________________________________________________________________________________________
{'address': 'Islamabad', 'age': 35, 'employed': False, 'name': 'Abdullah'}
employee_2
_____________________________________________________________________________________________________
{'address': 'Karachi', 'age': 20, 'employed': True, 'name': 'Usman'}
employee_3
_____________________________________________________________________________________________________
{'address': 'Karachi', 'age': 21, 'employed': False, 'name': 'Faisal'}
employee_4
_____________________________________________________________________________________________________
{'address': 'Karachi', 'age': 21, 'employed': True, 'name': 'Aqib'}
employee_5
_____________________________________________________________________________________________________
{'address': 'Karachi', 'age': 23, 'employed': False, 'name': 'Hanifa', 'names': 'Hania'}
employee_6
_____________________________________________________________________________________________________
{'address': 'Pakistan', 'age': 23, 'employed': True, 'name': 'Hani'}
employee_7
_____________________________________________________________________________________________________
{'address': 'Karachi', 'age': 20, 'employed': True, 'name': 'Usman'}
employee_8
_____________________________________________________________________________________________________

In [13]:
people = db.child("company").get()
for person in people.each():
    if person.val()['name']=='Ahsan':
        db.child("company").child(person.key()).update({"name":"Ali"})

### Delete

**Known ID**

In [14]:
db.child("company").child("employee_1").child("age").remove()

**Unknown ID**

In [15]:
people = db.child("company").get()
for person in people.each():
    if person.val()["name"]=="Ali":
        db.child("company").child(person.key()).child("age").remove()

### Read

In [16]:
people = db.child("company").get()
for employees in people.each():
    print(employees.key())
    print(employees.val())

-MrmLA383JLIwmTBd8CP
{'address': 'Karachi', 'employeed': True, 'name': 'Ali'}
employee_1
{'address': 'Lahore', 'employed': True, 'name': 'Umar'}
employee_2
{'address': 'Islamabad', 'age': 35, 'employed': False, 'name': 'Abdullah'}
employee_3
{'address': 'Karachi', 'age': 20, 'employed': True, 'name': 'Usman'}
employee_4
{'address': 'Karachi', 'age': 21, 'employed': False, 'name': 'Faisal'}
employee_5
{'address': 'Karachi', 'age': 21, 'employed': True, 'name': 'Aqib'}
employee_6
{'address': 'Karachi', 'age': 23, 'employed': False, 'name': 'Hanifa', 'names': 'Hania'}
employee_7
{'address': 'Pakistan', 'age': 23, 'employed': True, 'name': 'Hani'}
employee_8
{'address': 'Karachi', 'age': 20, 'employed': True, 'name': 'Usman'}

In [17]:
people = db.child("company").child("employee_6").get()
for p in people:
    print(p.val())

Karachi
23
False
Hanifa
Hania

# Conditions

In [31]:
people = db.child("company").order_by_child("name").equal_to("Usman").get()

In [32]:
for person in people.each():
    print(person.val())

{'address': 'Karachi', 'age': 20, 'employed': True, 'name': 'Usman'}
{'address': 'Karachi', 'age': 20, 'employed': True, 'name': 'Usman'}

In [33]:
people = db.child("company").child().order_by_child("age").equal_to(35).get()
for person in people.each():
    print(person.val())

{'address': 'Islamabad', 'age': 35, 'employed': False, 'name': 'Abdullah'}

In [34]:
people = db.child("company").order_by_child("age").start_at(23).get()
for person in people:
    print(person.val())

{'address': 'Karachi', 'age': 23, 'employed': False, 'name': 'Hanifa', 'names': 'Hania'}
{'address': 'Pakistan', 'age': 23, 'employed': True, 'name': 'Hani'}
{'address': 'Islamabad', 'age': 35, 'employed': False, 'name': 'Abdullah'}

In [36]:
people = db.child("company").order_by_child("employed").equal_to(True).get()
for person in people.each():
    print(person.val())

{'address': 'Karachi', 'age': 21, 'employed': True, 'name': 'Aqib'}
{'address': 'Karachi', 'age': 20, 'employed': True, 'name': 'Usman'}
{'address': 'Karachi', 'age': 20, 'employed': True, 'name': 'Usman'}
{'address': 'Pakistan', 'age': 23, 'employed': True, 'name': 'Hani'}
{'address': 'Lahore', 'employed': True, 'name': 'Umar'}

In [37]:
people = db.child("company").order_by_child("employed").equal_to(True).limit_to_first(2).get()
for person in people.each():
    print(person.val())

{'address': 'Lahore', 'employed': True, 'name': 'Umar'}
{'address': 'Karachi', 'age': 20, 'employed': True, 'name': 'Usman'}

In [38]:
people = db.child("company").order_by_child("employed").equal_to(True).limit_to_last(1).get()
for person in people.each():
    print(person.val())

{'address': 'Karachi', 'age': 20, 'employed': True, 'name': 'Usman'}