# Installation

In [1]:
!pip install pivottablejs

Requirement already satisfied: pivottablejs in c:\users\dell\appdata\local\programs\python\python310\lib\site-packages (0.9.0)

# Importing Necessary Packages

In [2]:
import pandas as pd
from pivottablejs import pivot_ui

# Dataset Loading

In [3]:
df = pd.read_csv("employees.csv")

In [4]:
df

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
...,...,...,...,...,...,...,...,...
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales

# pivottablejs

In [5]:
pivot_ui(df)

In [6]:
pivot_ui(df)

In [7]:
pivot_ui(df)

In [8]:
pivot_ui(df)

In [9]:
pivot_ui(df)